<div class="row">
  <div class="col-12">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>

        <li *ngFor="let pageNum of getPageNumbers()" class="page-item">
          <a class="page-link" (click)="jumpToPage(pageNum)">
            {{ pageNum }}
          </a>
        </li>

        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4" >
  <app-movie-card class="mb-4" *ngFor="let movie of movieList$ | async | slice:((currentPage-1)*pageSize):(currentPage*pageSize)" [movie]="movie"></app-movie-card>
</div>


