.new {
  display: flex;
  justify-content: flex-end;
}

.input-group {
  margin-right: 50px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.previous, .next {
  color: white;
  background-color: darkslategrey;
  font-size: medium;
  font-weight: bolder;
  border-color: darkblue;
}

.select, .sortingSelect {
  background-color: darkslategrey;
  color: white;
}

.input-group {
  border: 1.5px solid darkslateblue;
  border-radius: 5px;
}

h1 {
  color: darkslategrey;
  display: flex;
}



.sortingSelect {
  border-radius: 5px;
  height: 3em;
}

