<h1>Movie List</h1>


<div class="row">
  <div class="col-12 my-2">
    <div class="input-group mb-3">
      <div class="input-group-text">
        <select [(ngModel)]="filterKey" class="form-control">
          <option value="">Click for Search Menu</option>
          <option *ngFor="let col of columns" [value]="col.key">
            {{ col.title }}
          </option>
        </select>
      </div>
      <input [(ngModel)]="filterPhrase" class="form-control" type="text" placeholder="@Search text">
    </div>
  </div>
</div>


<div class="new mr-3">
  <button class="btn btn-success mb-5" [routerLink]="['/movie', 0]">
    + New Movie Card
  </button>
</div>



<div class="pagination row">
  <div class="col-12">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="previous page-link" (click)="jumpPrevious()">Previous</a>
        </li>

        <li *ngFor="let pageNum of getPageNumbers()" class="page-item">
          <a class="page-link" (click)="jumpToPage(pageNum)">
            {{ pageNum }}
          </a>
        </li>

        <li class="page-item">
          <a class="next page-link" (click)="jumpNext()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>


<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
  <app-movie-card
  class="mb-4"
  *ngFor="
  let movie of movieList$
  | async
  | slice: ((currentPage - 1) * pageSize):(currentPage * pageSize)
  | filter
  : {
    title: filterPhrase,
    genre: filterPhrase,
    studio: filterPhrase,
    releaseYear: filterPhrase
  }
  "
  [movie]="movie"
  ></app-movie-card>
</div>
