<ngx-spinner type="ball-beat"></ngx-spinner>

<h1 class="mb-5 justify-content-center">Movie List</h1>

<div class="new mt-5">
  <button class="btn btn-link mb-5" [routerLink]="['/movie', 0]">
    + Add New Movie Card
  </button>
</div>


<div class="search row">
  <div class="col-12 col-sm-6 my-2">
    <div class="input-group">
      <div class="input-group-text">
        <select [(ngModel)]="filterKey" class="form-control select">
          <option  value="">Select from Menu</option>
          <option *ngFor="let col of columns" [value]="col.key">
            {{ col.title }}
          </option>
        </select>
      </div>
      <input [(ngModel)]="filterPhrase" class="form-control" type="text" placeholder="Searching text">
    </div>
  </div>
</div>




<div class="sorterContainer row mb-5 mt-2">
  <div class="sorter">
    <div>
      <select class="sortingSelect col-12 col-sm-2" [(ngModel)]="sorterKey">
        <option value="">Sorting by ...</option>
        <option *ngFor="let col of columns" [value]="col.key">{{col.title}}</option>
      </select>
    </div>
  </div>
</div>


<div class="pagination row">
  <div class="col-12 col-sm-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="previous page-link" (click)="jumpPrevious()">Previous</a>
        </li>

        <li *ngFor="let pageNum of getPageNumbers()" class="page-item">
          <a class="page-link" (click)="jumpToPage(pageNum)">
            {{ pageNum }}
          </a>
        </li>

        <li class="page-item">
          <a class="next page-link" (click)="jumpNext()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>





<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-5">
  <app-movie-card
  (deleteMovieEvent)="onDelete($event)"
  class="mb-4"
  *ngFor="
  let movie of movieList$
  | async
  | slice: ((currentPage - 1) * pageSize):(currentPage * pageSize)
  | filter
  : {
    title: filterPhrase,
    genre: filterPhrase,
    studio: filterPhrase,
    releaseYear: filterPhrase
  }
  | sorter: sorterKey
  "
  [movie]="movie"
  ></app-movie-card>
</div>

