.movie {
  height: 100vh;
  background-image: url("../assets/pic/kisspng-openshot-video-editing-software-computer-software-5cff01a2162293.7537115615602159700907.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
