 .row {
  background-color: antiquewhite;
  background-image: none;
  height: 100vh;
 }

 label {
  color: darkorange;
  font-weight: bolder;
  margin-left: 5px;
}

input, select {
  border-color: darkorange;
  color: darkolivegreen;
  font-weight: 500;
}

input:hover, select:hover, button:hover {
  box-shadow: 2px 2px 2px darkgrey;
}

h1 {
  color: darkolivegreen;
  display: flex;
  justify-content: center;
}

@keyframes colorChange {
  from {color: black;}
  to {color: red;}

  from {background-color: red;}
  to {background-color: yellow;}
}

.error-message {
  color: black;
  font-weight: bolder;
  margin: 10px;
  animation-name: colorChange;
  animation-duration: 4s;
}



button {
  border:3px solid darkorange;
  color: rgb(10, 70, 10)
}








