<div class="d-flex justify-content-center mt-3" style="font-style: bold">
  <h1>WELCOME ON OUR MOVIES PAGE</h1>
</div>

<div>
  <h3 class="mt-5 mb-5 d-flex justify-content-center">Dear Visitor</h3>

  <p class="d-flex justify-content-center">
    You can select from 1000 movies in wide varieties on our Movie List link.
  </p>

  <p class="d-flex justify-content-center">Enjoy and have fun!</p>
</div>

<button
  class="btn btn-warning rounded btn-lg d-flex mx-auto mt-5"
  routerLink="/movie-list"
>
  Press for Movies
</button>

<div class="movie-pic"></div>
